@import 'tailwindcss';

@font-face {
  font-family: 'B Font';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/sof-sub-reg.woff2') format('woff2'),
    url('/fonts/sof-sub-reg.woff') format('woff');
}
@font-face {
  font-family: 'B Font';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src:
    url('/fonts/sof-sub-reg-ital.woff2') format('woff2'),
    url('/fonts/sof-sub-reg-ital.woff') format('woff');
}
@font-face {
  font-family: 'B Font';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/sof-sub-bld.woff2') format('woff2'),
    url('/fonts/sof-sub-bld.woff') format('woff');
}
@font-face {
  font-family: 'B Font';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/sof-sub-blk.woff2') format('woff2'),
    url('/fonts/sof-sub-blk.woff') format('woff');
}

@theme {
  --font-sans: 'B Font', Helvetica, sans-serif;

  --color-sand: #f4debe;
  --color-stone: #130e07;

  --color-background: var(--color-sand);
  --color-foreground: var(--color-stone);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-stone);
    --color-foreground: var(--color-sand);
  }
}
